<div class="container">
  <div class="form-section">
    <div class="form-image">
      <p-image src="assets/img/undraw_car-repair_wski.png" alt="Imagem de serviço" width="450"></p-image>
    </div>

    <div class="form">
      <form [formGroup]="formServico" (ngSubmit)="salvar()">
        <div class="form-header">
          <div class="title">
            <h1>{{ editando ? 'Editar Serviço' : 'Cadastro de Serviço' }}</h1>
          </div>
          <div class="login-button">
            <button pButton type="submit" label="Salvar" [disabled]="formServico.invalid"></button>
            <button pButton type="button" label="Cancelar" class="p-button-secondary ms-2" (click)="resetarFormulario()" *ngIf="editando"></button>
          </div>
        </div>

        <div class="input-group">
          <div class="input-box">
            <label for="nome">Nome</label>
            <input id="nome" pInputText formControlName="nome" />
          </div>

          <div class="input-box">
            <label for="precoUnitario">Preço Unitário</label>
            <p-inputNumber inputId="precoUnitario" formControlName="precoUnitario" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
          </div>

          <div class="input-box">
            <label for="quemFez">Quem Fez  </label>
            <input id="quemFez" pInputText formControlName="quemFez" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="mb-3">
      <button
        pButton
        type="button"
        label="Exportar PDF"
        icon="pi pi-file-pdf"
        class="p-button-danger exportar"
        style="width: 180px; height: 42px; font-size: 14px;"
        (click)="exportarPDF()">
      </button>
    </div>
    <p-table [value]="servicos"
             [scrollable]="true"
             scrollHeight="300px"
             [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quemfez</th>
          <th>Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-servico>
        <tr>
          <td>{{ servico.nome }}</td>
          <td>{{ servico.precoUnitario | currency:'BRL' }}</td>
          <td>{{ servico.quemFez }}</td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-info"
              (click)="editarServico(servico)"
              aria-label="Editar">
            </button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="excluirServico(servico.id!)"
              aria-label="Excluir">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
